@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* --- Targets all HTML elements unless otherwise is specifically stated */

.text-aligment {
    text-align: center;
}

.text-font {
    font-family: "Open Sans", sans-serif;
}

.font-size-color {
    font-size: 20px;
    color: #302d2d;
}

.bg-color-main {
    background-color: #ffebb9;
}

/* ----------------------------------------Header - All pages */

header {
    background-color: #C7782B;
    font-size: 20px;
    font-weight: 200;
    color: #302d2d;
}

.navbar-brand {
    padding-left: 10px;
    font-size: 23px;
}

.nav-item {
    padding-left: 10px;
}

.fa-beer {
    color: #383737;
}

/* CREDIT - How to remove the blue border around the navbar toggler icon: https: //stackoverflow.com/questions/50668594/remove-border-color-for-navbar-toggler-hamburger-icon-bootstrap-4 */

button:focus {
    outline: none;
    outline: none -webkit-focus-ring-color;
}


/* ----------------------------------------Main - Home (index) */

#logo {
    grid-area: logo;
    padding: 0px;
    height: 800px;
    position: relative;
}

#logo-image {
    width: 100%;
    height: 800px;
    position: absolute;
    object-fit: contain;
}

/* ----------------------------------------Main - About Us */

/* --- CREDIT - for making the hero image fit perfect: Ruairidh MacArthur. On GitHub, roomacarthur and his milestone one; seastainability */

#hero {
    grid-area: hero;
    padding-bottom: 100px;
    height: 300px;
    position: relative;
}

#hero img {
    width: 100%;
    height: 300px;
    position: absolute;
    z-index: 1;
    object-fit: cover;
}

#founders {}

.founders-name {
    font-size: 15px;
    color: #302d2d;
    font-weight: 300;
}


/* ----------------------------------------Footer - All pages */

footer {
    font-size: 15px;
    font-weight: 200;
    color: #383737;
}

.footer-bg {
    background-color: #C7782B;
}

.social-links li a i {
    color: #383737;
    font-size: 20px;
    height: 15px;
    padding-left: 5px;
}

.social-links li a i:hover {
    color: #2c2c2b;
}