@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* --- Targets all HTML elements unless otherwise is specifically stated */

.text-aligment {
    text-align: center;
}

.text-font {
    font-family: "Open Sans", sans-serif;
}

.font-size-color {
    font-size: 20px;
    color: #302d2d;
}

.bg-color-main {
    background-color: #ffebb9;
}

/* ----------------------------------------Header - All pages */

header {
    font-size: 20px;
    font-weight: 200;
    color: #302d2d;
}

.fixed-top {
    background-color: #C7782B;
}

.navbar-brand {
    padding-left: 10px;
    font-size: 23px;
}

.nav-item {
    padding-left: 10px;
}

.fa-beer {
    color: #383737;
}

/* CREDIT - How to remove the blue border around the navbar toggler icon: https: //stackoverflow.com/questions/50668594/remove-border-color-for-navbar-toggler-hamburger-icon-bootstrap-4 */

button:focus {
    outline: none;
    outline: none -webkit-focus-ring-color;
}


/* ----------------------------------------Main - Home (index) */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container-index {
        padding-top: 60px;
        position: relative;
        width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .container-index {
        padding-top: 50px;
        position: relative;
        width: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container-index {
        padding-top: 50px;
        position: relative;
        width: 100%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container-index {
        padding-top: 50px;
        position: relative;
        width: 78%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container-index {
        padding-top: 50px;
        position: relative;
        width: 72%;
    }
}

.logo {
    width: inherit;
}

/* ----------------------------------------Main - About Us */

/* --- CREDIT - for making the hero image fit perfect: Ruairidh MacArthur. On GitHub, roomacarthur and his milestone one; seastainability */

#hero {
    grid-area: hero;
    padding-bottom: 100px;
    height: 300px;
    position: relative;
}

#hero img {
    width: 100%;
    height: 300px;
    position: absolute;
    z-index: 1;
    object-fit: cover;
}

/* --- CREDIT end ---*/

#founders-img {
    height: 300px;
}

.img-responsive {
    width: 100%;
    height: 100%;
    position: unset;
    object-fit: contain;
}

.founders-name {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    color: #302d2d;
    font-weight: 300;
    text-align: center;
}

.container-about {
    padding-bottom: 8px;
}

#founders-icon {
    padding-right: 15px;
}

/* --- CREDIT - for making the nice fade-divider: Chris Coyier, https://jsfiddle.net/ZTz7Q/ */

.divider-fade {
    margin: 25px 0;
    height: 1px;
    background: #302d2d;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#ffebb9), to(#ffebb9), color-stop(50%, #302d2d));
}

/* --- CREDIT end --- */

/* ----------------------------------------Main - About Us - Reviews */

h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 200;
    color: #302d2d;
}

.media img {
    height: auto;
    width: 20%;
}

.media-body {
    font-family: "Open Sans", sans-serif;
    color: #302d2d;
}

/* -------------------Main - Gallery---------------- */

.main-gallery {
    padding-top: 62px;
}

/* -------- Main - Contact - Background image -------- */

.background {
    position: fixed;
    background-image: url(../images/contact/pradnyal-gandhi-1MqDCpA-2hU-unsplash.jpg);
    background-size: contain;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
    background-color: black;
    height: 100%;
    width: 100%;
}

/* -----------------------Main - Contact - Contact form */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container-form {
        opacity: 0.9;
        padding-top: 250px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .container-form {
        opacity: 0.9;
        padding-top: 200px
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container-form {
        opacity: 0.9;
        padding-top: 400px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container-form {
        opacity: 0.9;
        padding-top: 550px;
        padding-bottom: 534px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container-form {
        opacity: 0.9;
        padding-top: 300px;
    }
}

.contact-info h2 {
    margin-bottom: 10%;
}

.contact-info {
    margin-top: 10%;
}

.contact-info img {
    margin-bottom: 15%;
}



.form-bg {
    background: #ffebb9;
    padding: 2%;
}

.form-group {
    padding-top: 11px;
}

.contact-form label {
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
}

.contact-form button {
    background: #C7782B;
    color: #383737;
    font-weight: 600;
    width: 65%;
    font-family: "Open Sans", sans-serif;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #ffebb9;
    padding-bottom: 10px;
}

input[type=email] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #383737;
    padding-top: 25px;
    font-size: 12px;
}


/* -------------------------------------Footer - Index (Home) */

.footer-index {
    font-size: 15px;
    font-weight: 200;
    color: #383737;
    background-color: #C7782B;
    bottom: 0;
    position: fixed;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .footer-index {
        height: 200px;
    }
}

/* ------------------Footer - About Us---------------- */

.footer-about {
    font-size: 15px;
    font-weight: 200;
    color: #383737;
    background-color: #C7782B;
    bottom: 0;
}

/* ------------------Footer - gallery---------------- */

.footer-gallery {
    font-size: 15px;
    font-weight: 200;
    color: #383737;
    background-color: #C7782B;
    bottom: 0;
}

/* ------------------Footer - Contact---------------- */

.footer-contact {
    font-size: 15px;
    font-weight: 200;
    color: #383737;
    background-color: #C7782B;
    bottom: 0px;
}

/* ------------------Footer - All pages---------------- */

.social-links li a i {
    color: #383737;
    font-size: 20px;
    height: 15px;
    padding-left: 5px;
}

a {
    color: #383737;
}

.social-links li a i,
a:hover {
    color: #2c2c2b;
}