@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


/* ----------------------------------------Header */

header {
    background-color: #C7782B;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 200;
    color: #302d2d;
}

.nav-color a {
    color: #302d2d;
    text-decoration: none;
    margin-left: 15px;
}

.nav-color a:hover {
    color: #faedce;
}



/* ----------------------------------------Main */

.main-bg {
    background-color: #faedce;
    max-width: 100%;
}

/* ----------------------------------------Footer */

footer {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 200;
    color: #302d2d;
}

.footer-bg {
    background-color: #C7782B;
}

.social-links li a i {
    color: #302d2d;
    margin-left: 20px;
    font-size: 30px;
    width: 5px;
    height: 20px;
}

.social-links li a i:hover {
    color: #faedce;
}